anavi-door-phat/buzzer/c/beep
anavi-door-phat/buzzer/c/starwars
anavi-thermometer/esphome-anavi-thermometer/anavi_thermometer/
anavi-thermometer/esphome-anavi-thermometer/.esphome/
anavi-gas-detector/esphome-anavi-gas-detector/anavi_gas_detector/
anavi-gas-detector/esphome-anavi-gas-detector/.esphome/
anavi-light-controller/esphome-anavi-light-controller/anavi_light_controller/
anavi-light-controller/esphome-anavi-light-controller/.esphome/
anavi-miracle-controller/esphome-anavi-miracle-controller/anavi_miracle_controller/
anavi-miracle-controller/esphome-anavi-miracle-controller/.esphome/
anavi-noisy/c/anavi-noisy
anavi-noisy/c/anavi-noisy.o
